*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
  }
  
  body{
    min-height: 100vh;
    background: #fff;
  }
  
  .header{
    background: #ffa200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
  
  .header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(225, 225, 225, .4), transparent);
    transition: .5s;
  }
  
  .header:hover::after {
    left: 100%;
  }
  
  
  .logo{
      
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px 8px;
  }
  
    
  .logo h2{ 
  font-family:serif;
  color: #fff;
  font-size:22px ;
  }
  
  .navbar a{
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-right: 2.5rem;
  }
  
  #check{
    display: none;
  }
  .icons{
      position: absolute;
      right: 5%;
      font-size: 1.8rem;
      color: #fff;
      cursor: pointer;
      display: none;
      border: 2px solid #000;
      border-radius: 5px;
      padding: 8px;
  }
  
  @media(max-width:1000px) {
    .header {
        padding: 5px;
    }
  }
  
  @media (max-width: 1058px) {
    .icons {
        display: inline-flex;
    }
  
    #check:checked~.icons #menu-icon {
        display: none;
    }
  
    .icons #close-icon {
        display: none;
    }
  
    #check:checked~.icons #close-icon {
        display: block;
    }
  
    .navbar {
      background: #ffa200;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      backdrop-filter: blur(50px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
      overflow: hidden;
      transition: .3s ease;
      border-radius: 0 0 5px 5px;
    }
  
    #check:checked~.navbar {
        height: 13rem;
    }
  
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
  
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
  }

  .house{
    margin-top: 6rem;
    text-align: center;
  .scroll-container{
    margin-top: 20px;
  }

  .scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    margin: 10px 10px;
    }
    .scroll-container h2{
        font-size: 16px;
        position: relative;
        top: -25%;
        text-align: center;
        color: #fff;
        text-shadow: 0 5px 10px #0004;
    }
    
    .scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
    }
    
    .scroll-container img {
    border-radius: 10px;
    margin-right: 10px;
    max-height: 100px; /* Adjust the height as needed */
    transition: transform 0.5s ease;
    border-top: 2px solid #c1c1c1;
    border-right: 2px solid #c1c1c1;
    border-bottom: 2px solid #181818;
    border-left: 2px solid #181818;
    box-shadow: 0px 0px 2px #030303, inset 0px -2px 1px #2e2e2e;
    }
    
    .scroll-container img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    }
    
    

  .scroll-container img {
    border-radius: 5px;
    margin-right: 20px;
    max-height: 200px; /* Adjust the height as needed */
    transition: transform 0.5s ease;
    }
  
    .scroll-container{
      width: 95%;
      padding: 8px 8px 8px 8px;
      margin: 20px auto;
      border-radius: 5px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #c1c1c1;
      border-left: 2px solid #c1c1c1;
      box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
    
    }
  
  .details{
    text-align: left;
    line-height: 1.5;
  }
  .deta{
    margin-top: 20px;
    font-weight: 550;
    color: #8f949d;
    text-transform: capitalize;
    p{
      font-family: serif;
    }
  }
  .house-details{
    width: 95%;
    padding: 8px 8px 20px 8px;
    margin: 20px auto;
    border-radius: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #c1c1c1;
    border-left: 2px solid #c1c1c1;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
    margin-bottom: 100px;
  }
  
  p span{
    color: #ffa200;
    font-family: serif;
  }
  
  button a{
    color: #000;
  }
  
  button{
    padding: 20px;
    font-size: 16px;
    border-radius: 4px;
    color: #000;
    width: 80%;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 3px rgba(48, 45, 45, 0.3);
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
    }
  
    button:hover{
      box-shadow: 0 0 5px 6px rgba(53, 49, 49, 0.4);
  }
  }
  
  .footer-icons li a .text {
    font-size: 14px;
    display: block; /* Display text on a new line */
    color: #ccc; /* Lighter text color for the labels */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer-icons li {
    padding: 0 10px;
    text-align: center;
}

.footer-icons li a {
    color: #ffa200;
    text-decoration: none;
    font-size: 24px;
    display: block; /* Ensure that the text is below the icon */
}


